h1 {
    text-align: center;
    color: black;
    font-size: 48px;
  }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
     position: fixed;
     font-size: 18px;
     left: 50px;
     background-color: dodgerblue;
     color: white;
     padding: 5px;
     margin: 5px;
  
}

#P-S-C_btn {
  top: 160px; 
}
#P-S-P_btn {
  top: 220px; 
}
#S-S-C_btn {
  top: 280px;
}
#S-S-P_btn {
  top: 340px;
}
#S-P-C_btn {
  top: 400px;
}
#S-P-P_btn {
  top: 460px;
}
div {
    position: absolute;
    left: 1100px;
    right: 100px;
    top: 200px;
    border-color: dodgerblue;
    border-style: solid; 
	border-top-width: 5px; 
	border-bottom-width: 5px; 
	border-left-width: 5px; 
	border-right-width: 5px; 
	font-size: 18;
    
}


/*#x_label {
	writing-mode: tb;
	font-size: 10;
}*/

/*svg {
	width: 2000;
	height: 1000;
	background-color: yellow;
	transform: translate(300px, 80px);
}*/

