h1 {
    text-align: center;
    color: black;
    font-size: 48px;
  }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
     position: fixed;
     font-size: 20px;
     left: 50px;
     color: black;
     padding: 5px;
     margin: 5px;
  
}


#P-S-P_btn {
  top: 220px; 
  background-color:lightpink;
}

#S-S-P_btn {
  top: 340px;
  background-color:lightgreen;
}

#S-P-P_btn {
  top: 460px;
  background-color:lightskyblue;
}
div {
  position: absolute;
  left: 1100px;
  right: 100px;
  top: 200px;
  border-color: dodgerblue;
  border-style: solid; 
	border-top-width: 5px; 
	border-bottom-width: 5px; 
	border-left-width: 5px; 
	border-right-width: 5px; 
	font-size: 18;
    
}


